/**************** 
Over all Styles
*****************/

* {
    margin: 0 auto;
    padding: 0;
}


/*************** 
Standard styles
***************/

body {
    max-width: 1200px;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-family: 'Unlock', cursive;
}

h2,
h3 {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 10px
}

h2 {
    position: relative;
}

h2::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    margin: 0 300px;
    height: 1px;
    border-bottom: 2px solid #fea602;
    content: ""
}

p {
    padding: 5px 10px;
    margin-bottom: 20px;
    overflow: scroll;
}

img {
    width: 30%;
}

.container {
    background-color: #f5f2f2;
}


/*************** 
float 
***************/

#images {
    margin-top: 10px;
}

.row {
    float: left;
    margin: 0 auto;
}

.half {
    width: 50%;
}

#images,
#more-info {
    clear: both;
}


/********* 
Links
*********/

a:hover {
    border-bottom: 3px solid #fea602;
    height: 100%;
    transition: 0.5s;
}

a:visited {
    color: #f0ffff;
}


/********* 
Nav Bar
*********/

nav {
    height: 60px;
    background-color: #a77b0d;
    border: 2px solid #fea602;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: .9em;
    padding-bottom: 10px;
}

nav ul {
    text-align: right;
    padding: 20px 10px 0 0;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

.logo {
    float: left;
    height: 140px;
    width: 140px;
    padding-top: 8px;
    padding-left: 30px;
}

.logo a {
    border: none;
}

h4 {
    float: left;
    text-align: center;
    padding-right: 20px;
    padding-top: 24px;
    margin-left: 180px;
}

#dropdown {
    float: left;
    padding-top: 20px;
}

select {
    background: transparent;
    width: 170px;
    font-family: 'El Messiri', sans-serif;
    font-size: 1em;
    padding-bottom: 2px;
    color: #fff;
    line-height: 1;
    border: 3px solid #fea602;
    border-radius: 0;
    height: 28px;
    outline: none;
}


/* for use in javascript */

.option0 {
    font-family: 'Noto Serif TC', serif;
}

.option1 {
    font-family: 'El Messiri', sans-serif;
}

.option2 {
    font-family: 'Lobster', cursive;
}

.option3 {
    font-family: 'Charmonman', cursive;
}

.option4 {
    font-family: 'Dokdo', cursive;
}


/**************** 
Main Image
****************/

#background-picture {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/oldskool-photography-152258-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
}

#background-picture h1 {
    font-size: 2em;
    color: #f0ffff;
    padding-top: 150px;
    padding-left: 30px;
}

h1 span {
    color: #fea602;
    font-weight: 900;
}


/**************** 
Information
****************/

#info p {
    border: 1px solid #c4c4c4;
}


/**************** 
picture bank
****************/

#images img {
    float: left;
    width: 33.3%;
}

#images h2 {
    padding-top: 10px;
}


/**************** 
More Info
****************/

#more-info h3 {
    padding-top: 20px;
}


/**************** 
Buttons
****************/

#buttons {
    text-align: center;
    word-spacing: 20px;
}

#add,
#remove,
.form input[type=button] {
    background: #f40606;
    border: 3px solid #fea602;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 40px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    width: 80px;
    padding: 15px;
    margin-bottom: 25px;
    outline: none;
}

#add:hover,
#remove:hover,
.form input[type=button]:hover {
    background: none;
    transition: 0.5s;
}

.click-button {
    box-shadow: none;
    background: #f40606;
    border: 4px solid #000;
}


/**************** 
Form
****************/

fieldset {
    padding: 60px 0;
    text-transform: uppercase;
    font-weight: 700;
    width: 60%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
.form input[type=button] {
    float: right;
    font-style: italic;
    margin-right: 50px;
    width: 30%;
    padding: 5px 0;
}

.form input[type=button] {
    margin-top: 40px;
    width: 12%;
    margin-right: 240px;
    padding: 7px;
}

.form label {
    margin-left: 80px;
    line-height: 40px;
}


/**************** 
Footer
****************/

footer {
    clear: both;
    background-color: #a77b0d;
    height: 60px;
    margin-top: 20px;
}

footer {
    text-align: center;
}

i {
    font-size: 40px;
    letter-spacing: 20px;
    color: #fea602;
}