/**************** 
Over all Styles
*****************/

* {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}


/*************** 
Standard styles
***************/

body {
    font-family: 'Average', serif;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

h2,
h3 {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 10px
}

h2 {
    position: relative;
    padding-top: 10px;
    margin: 30px 0;
}

h2::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    margin: 0 300px;
    height: 1px;
    border-bottom: 2px solid #fea602;
    content: ""
}

p {
    padding: 5px 10px;
    margin-bottom: 40px;
    overflow: scroll;
    word-spacing: 2px;
    font-size: 1.2em;
}

img {
    width: 30%;
}


/*************** 
float 
***************/

#images {
    margin-top: 10px;
}

.row {
    float: left;
    margin: 0 auto;
}

.container {
    width: 1200px
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

#images,
#more-info {
    clear: both;
}


/********* 
Links
*********/

ul a:hover {
    border-bottom: 3px solid #fea602;
    height: 100%;
    transition: 0.5s;
}

ul a:visited {
    color: #f0ffff;
}


/********* 
Nav Bar
*********/

nav {
    width: 100%;
    height: 80px;
    background-color: #a77b0d;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding-bottom: 10px;
}

nav ul {
    text-align: right;
    padding: 30px 10px 0 0;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

.logo {
    float: left;
    height: 140px;
    width: 140px;
    padding-top: 15px;
    padding-left: 30px;
}

.logo a {
    border: none;
}

h4 {
    float: left;
    text-align: center;
    padding-right: 30px;
    padding-top: 34px;
    margin-left: 60px;
}

#dropdown {
    float: left;
    padding-top: 30px;
}

select {
    background: transparent;
    width: 170px;
    font-size: 1em;
    padding-bottom: 2px;
    color: #fff;
    line-height: 1;
    border: 3px solid #fea602;
    border-radius: 0;
    height: 28px;
    outline: none;
}


/**************** 
Main Image
****************/

#background-picture {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/oldskool-photography-152258-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    padding-top: 16px;
}

#background-picture h1 {
    font-size: 2.6em;
    color: #f0ffff;
    padding-top: 200px;
    padding-left: 30px;
}

h1 span {
    color: #fea602;
    font-weight: 900;
}


/**************** 
Information
****************/

#info p {
    border: 1px solid #c4c4c4;
}


/*************** 
mobile
***************/

#mobile img {
    width: 50%;
}

#mobile .btn-app img {
    width: 20%;
}


/**************** 
picture bank
****************/

#images img {
    float: left;
    width: 33%;
}


/* picture animation */

#images img,
#nav img {
    transition: -webkit-transform 0.30s ease;
}

#images img:active,
#nav img:active {
    -webkit-transform: scale(1);
    transform: scale(1.5);
}


/**************** 
More Info
****************/

#more-info h2 {
    padding-top: 40px;
}


/**************** 
Buttons
****************/

#buttons {
    text-align: center;
    word-spacing: 20px;
    margin-bottom: 20px;
}

#add,
#remove,
.form input[type=button] {
    background: #f40606;
    border: 3px solid #fea602;
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 80px;
    padding: 15px;
    margin-bottom: 25px;
    outline: none;
}

#add:hover,
#remove:hover,
.form input[type=button]:hover {
    background: none;
    transition: 0.5s;
}


/**************** 
Iframe
****************/

iframe {
    width: 60%;
    margin-left: 238px;
}


/**************** 
Form
****************/

fieldset {
    padding: 60px 0;
    text-transform: uppercase;
    font-weight: 700;
    width: 60%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
.form input[type=button] {
    float: right;
    font-style: italic;
    margin-right: 50px;
    width: 30%;
    padding: 5px 0;
    outline-color: #fea602;
}

.form input[type=button] {
    margin-top: 60px;
    width: 12%;
    margin-right: 500px;
    padding: 7px;
}

.form label {
    margin-left: 80px;
    line-height: 40px;
}


/**************** 
Footer
****************/

footer {
    clear: both;
    background-color: #a77b0d;
    height: 100px;
    margin-top: 20px;
}

footer {
    text-align: center;
}

i {
    font-size: 40px;
    letter-spacing: 20px;
    padding-top: 30px;
    color: #fea602;
}


/**************** 
Javascript Classes
****************/


/* sticky nav-bar */

.stick .nav-bar {
    position: fixed;
    top: 0;
    z-index: 999;
}

.sticky+#background-picture {
    padding-top: 60px;
}

.hide {
    display: none;
}

.btn-dwn {
    box-shadow: none;
}

.btn-up {
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}